pre {
  tab-size: 4;
  counter-reset: linecounter;
  padding: 0;
  color: #eee;
  background-color: #333;
}

pre span.line {
  counter-increment: linecounter;
}

pre span.line::before {
  content: counter(linecounter);
  color: red;
  width: 30px;
  display: inline-block;
  border-right: 1px dotted #ccc;
  padding-right: 3px;
  text-align: right;
}

pre span.line:nth-child(odd)::before {
  background-color: #555;
}